

/**/*.tfstate*
/**/.terraform

/modules/key/key-pair
/modules/key/key-pair.pub
# Local .terraform directories
**/.terraform/*
.terraform/*
*.hcl
*.lock*
../.terraform/*
terraform.*
*.tfvars*

# .tfstate files
*.tfstate
/**/*.tfstate*
*.tfstate.*